<ion-header>
  <app-header [showMenu]="true" title="Control de Piscina"></app-header>
</ion-header>

<ion-content>
  <ion-button
    *ngIf="isConserje()"
    (click)="abrirModal()"
    color="tertiary"
    expand="block"
  >
    Registrar Acceso
  </ion-button>

  <ion-card *ngFor="let registro of registros">
    <ion-card-header>
      <ion-card-title>Departamento {{ registro.departamento }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Residentes:</strong></p>
      <ul>
        <li *ngFor="let residente of registro.residentes">
          {{ residente.nombre }} (RUT: {{ residente.rut }})
        </li>
      </ul>
      <p *ngIf="registro.visitas?.length > 0"><strong>Visitas:</strong></p>
      <ul *ngIf="registro.visitas?.length > 0">
        <li *ngFor="let visita of registro.visitas">
          {{ visita.nombre }} (RUT: {{ visita.rut }})
        </li>
      </ul>
      <div>
        <h3>Conteo de pulseras:</h3>
        <ul>
          <li>Verde (Residentes): {{ registro.pulseras.verde }}</li>
          <li>Calipso (Visitas): {{ registro.pulseras.calipso }}</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
<app-footer></app-footer>
