<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Acceso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Departamento</ion-label>
        <ion-input [(ngModel)]="registro.departamento" name="departamento" type="text" required></ion-input>
      </ion-item>

      <ion-item-divider>
        <ion-label>Residentes</ion-label>
      </ion-item-divider>
      <div *ngFor="let residente of registro.residentes; let i = index">
        <ion-item>
          <ion-label position="stacked">Nombre Residente</ion-label>
          <ion-input [(ngModel)]="residente.nombre" name="nombreResidente{{ i }}" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">RUT Residente</ion-label>
          <ion-input [(ngModel)]="residente.rut" name="rutResidente{{ i }}" required></ion-input>
        </ion-item>
      </div>
      <ion-button color="tertiary" (click)="agregarResidente()">Agregar Residente</ion-button>

      <ion-item-divider>
        <ion-label>Visitas</ion-label>
      </ion-item-divider>
      <div *ngFor="let visita of registro.visitas; let i = index">
        <ion-item>
          <ion-label position="stacked">Nombre Visita</ion-label>
          <ion-input [(ngModel)]="visita.nombre" name="nombreVisita{{ i }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">RUT Visita</ion-label>
          <ion-input [(ngModel)]="visita.rut" name="rutVisita{{ i }}"></ion-input>
        </ion-item>
      </div>
      <ion-button color="tertiary" (click)="agregarVisita()">Agregar Visita</ion-button>
    </ion-list>

    <ion-button expand="block" color="tertiary" (click)="registrar()">Registrar</ion-button>
  </form>
</ion-content>
