.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #333; /* Color del texto */
  margin: 0;
}
